openapi: 3.0.3
info:
  title: BVMS
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://bvms.online'
paths:
  /api/users:
    get:
      summary: ''
      operationId: getApiUsers
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example: []
      tags:
        - Endpoints
      security: []
  /api/barangays:
    get:
      summary: ''
      operationId: getApiBarangays
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example: []
      tags:
        - Endpoints
      security: []
  /api/login:
    post:
      summary: 'Log in a user and get an authentication token.'
      operationId: logInAUserAndGetAnAuthenticationToken
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  token: 1|abcd1234
                  user_type: admin
                properties:
                  token:
                    type: string
                    example: 1|abcd1234
                  user_type:
                    type: string
                    example: admin
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: 'Invalid credentials'
                properties:
                  error:
                    type: string
                    example: 'Invalid credentials'
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: "The user's email address."
                  example: user@example.com
                  nullable: false
                password:
                  type: string
                  description: "The user's password."
                  example: password123
                  nullable: false
              required:
                - email
                - password
      security: []
  /api/forgot-password:
    post:
      summary: "Send a reset password link to the user's email."
      operationId: sendAResetPasswordLinkToTheUsersEmail
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Reset password link sent to your email'
                properties:
                  message:
                    type: string
                    example: 'Reset password link sent to your email'
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: 'User not found'
                properties:
                  error:
                    type: string
                    example: 'User not found'
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: "The user's email address."
                  example: user@example.com
                  nullable: false
              required:
                - email
      security: []
  /api/logout:
    post:
      summary: 'Log out the authenticated user.'
      operationId: logOutTheAuthenticatedUser
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Logged out'
                properties:
                  message:
                    type: string
                    example: 'Logged out'
      tags:
        - Endpoints
  /api/profile:
    get:
      summary: ''
      operationId: getApiProfile
      description: ''
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
    put:
      summary: ''
      operationId: putApiProfile
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      security: []
  /api/incidents:
    get:
      summary: 'Get a list of all incidents.'
      operationId: getAListOfAllIncidents
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'The page number for pagination.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'The page number for pagination.'
            example: 1
            nullable: false
        -
          in: query
          name: per_page
          description: 'The number of items per page.'
          example: 10
          required: false
          schema:
            type: integer
            description: 'The number of items per page.'
            example: 10
            nullable: false
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      title: 'Server Down'
                      description: 'The main server is not responding.'
                      location: 'Server Room'
                      priority: high
                      type: incident
                      status: pending
                      user_id: 5
                      incident_category_id: 2
                      created_at: '2024-11-18T12:00:00.000000Z'
                      updated_at: '2024-11-18T12:00:00.000000Z'
                  links:
                    first: 'http://example.com/api/incidents?page=1'
                    last: 'http://example.com/api/incidents?page=10'
                    prev: null
                    next: 'http://example.com/api/incidents?page=2'
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 10
                    path: 'http://example.com/api/incidents'
                    per_page: 10
                    to: 10
                    total: 100
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        title: 'Server Down'
                        description: 'The main server is not responding.'
                        location: 'Server Room'
                        priority: high
                        type: incident
                        status: pending
                        user_id: 5
                        incident_category_id: 2
                        created_at: '2024-11-18T12:00:00.000000Z'
                        updated_at: '2024-11-18T12:00:00.000000Z'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        title:
                          type: string
                          example: 'Server Down'
                        description:
                          type: string
                          example: 'The main server is not responding.'
                        location:
                          type: string
                          example: 'Server Room'
                        priority:
                          type: string
                          example: high
                        type:
                          type: string
                          example: incident
                        status:
                          type: string
                          example: pending
                        user_id:
                          type: integer
                          example: 5
                        incident_category_id:
                          type: integer
                          example: 2
                        created_at:
                          type: string
                          example: '2024-11-18T12:00:00.000000Z'
                        updated_at:
                          type: string
                          example: '2024-11-18T12:00:00.000000Z'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: 'http://example.com/api/incidents?page=1'
                      last:
                        type: string
                        example: 'http://example.com/api/incidents?page=10'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: 'http://example.com/api/incidents?page=2'
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 10
                      path:
                        type: string
                        example: 'http://example.com/api/incidents'
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 10
                      total:
                        type: integer
                        example: 100
      tags:
        - Endpoints
      security: []
    post:
      summary: 'Store a newly created incident in the database.'
      operationId: storeANewlyCreatedIncidentInTheDatabase
      description: ''
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 1
                  title: 'Power Outage'
                  description: 'There is a power outage in the building.'
                  location: 'Building A, Floor 3'
                  priority: high
                  type: request
                  status: pending
                  user_id: 5
                  incident_category_id: 2
                  created_at: '2024-11-18T12:00:00.000000Z'
                  updated_at: '2024-11-18T12:00:00.000000Z'
                properties:
                  id:
                    type: integer
                    example: 1
                  title:
                    type: string
                    example: 'Power Outage'
                  description:
                    type: string
                    example: 'There is a power outage in the building.'
                  location:
                    type: string
                    example: 'Building A, Floor 3'
                  priority:
                    type: string
                    example: high
                  type:
                    type: string
                    example: request
                  status:
                    type: string
                    example: pending
                  user_id:
                    type: integer
                    example: 5
                  incident_category_id:
                    type: integer
                    example: 2
                  created_at:
                    type: string
                    example: '2024-11-18T12:00:00.000000Z'
                  updated_at:
                    type: string
                    example: '2024-11-18T12:00:00.000000Z'
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'The title of the incident.'
                  example: '"Power Outage"'
                  nullable: false
                description:
                  type: string
                  description: 'A detailed description of the incident.'
                  example: '"There is a power outage in the building."'
                  nullable: false
                location:
                  type: string
                  description: 'The location where the incident occurred.'
                  example: '"Building A, Floor 3"'
                  nullable: false
                priority:
                  type: string
                  description: 'The priority level of the incident.'
                  example: '"high" Allowed values: low, medium, high. Default: low.'
                  nullable: false
                type:
                  type: string
                  description: 'The type of the record.'
                  example: '"request" Allowed values: incident, request. Default: incident.'
                  nullable: false
                status:
                  type: string
                  description: 'The status of the incident.'
                  example: '"pending"'
                  nullable: false
                user_id:
                  type: integer
                  description: 'The ID of the user reporting the incident.'
                  example: 5
                  nullable: false
                incident_category_id:
                  type: integer
                  description: 'The ID of the incident category.'
                  example: 2
                  nullable: false
              required:
                - title
                - description
                - location
                - user_id
                - incident_category_id
      security: []
  '/api/incidents/{id}':
    get:
      summary: 'Get details of a specific incident.'
      operationId: getDetailsOfASpecificIncident
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 1
                  title: 'Server Down'
                  description: 'The main server is not responding.'
                  location: 'Server Room'
                  priority: high
                  type: incident
                  status: resolved
                  user_id: 5
                  incident_category_id: 2
                  created_at: '2024-11-18T12:00:00.000000Z'
                  updated_at: '2024-11-18T12:00:00.000000Z'
                properties:
                  id:
                    type: integer
                    example: 1
                  title:
                    type: string
                    example: 'Server Down'
                  description:
                    type: string
                    example: 'The main server is not responding.'
                  location:
                    type: string
                    example: 'Server Room'
                  priority:
                    type: string
                    example: high
                  type:
                    type: string
                    example: incident
                  status:
                    type: string
                    example: resolved
                  user_id:
                    type: integer
                    example: 5
                  incident_category_id:
                    type: integer
                    example: 2
                  created_at:
                    type: string
                    example: '2024-11-18T12:00:00.000000Z'
                  updated_at:
                    type: string
                    example: '2024-11-18T12:00:00.000000Z'
      tags:
        - Endpoints
      security: []
    put:
      summary: 'Update an existing incident.'
      operationId: updateAnExistingIncident
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Incident updated successfully'
                properties:
                  message:
                    type: string
                    example: 'Incident updated successfully'
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'The title of the incident.'
                  example: '"Network Failure"'
                  nullable: false
                description:
                  type: string
                  description: 'A detailed description of the incident.'
                  example: '"The network connection is down in the west wing."'
                  nullable: false
                location:
                  type: string
                  description: 'The location where the incident occurred.'
                  example: '"West Wing, Room 12"'
                  nullable: false
                priority:
                  type: string
                  description: 'The priority level of the incident.'
                  example: '"medium" Allowed values: low, medium, high.'
                  nullable: false
                type:
                  type: string
                  description: 'The type of the record.'
                  example: '"incident" Allowed values: incident, request.'
                  nullable: false
                status:
                  type: string
                  description: 'The status of the incident.'
                  example: '"resolved"'
                  nullable: false
                user_id:
                  type: integer
                  description: 'The ID of the user reporting the incident.'
                  example: 5
                  nullable: false
                incident_category_id:
                  type: integer
                  description: 'The ID of the incident category.'
                  example: 3
                  nullable: false
      security: []
    delete:
      summary: 'Delete a specific incident.'
      operationId: deleteASpecificIncident
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Incident deleted successfully'
                properties:
                  message:
                    type: string
                    example: 'Incident deleted successfully'
      tags:
        - Endpoints
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the incident.'
        example: 1
        required: true
        schema:
          type: integer
tags:
  -
    name: Endpoints
    description: ''
